@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  @apply font-sans min-h-screen;
}

#root {
  min-height: 100vh;
}

.spin-animation {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-hero {
  --animation-delay: 250ms;
  --box-shadow-inset: 20px;
  --fade-radius: 50px;
  background-size: cover;
  background-position: center;
  box-shadow:
    inset 10px 0px 80px var(--box-shadow-inset) #07070d,
    inset -10px 0px 80px var(--box-shadow-inset) #07070d,
    inset 0px 20px 80px var(--box-shadow-inset) #07070d,
    inset 0px -2px 80px var(--box-shadow-inset) #07070d;
  animation: decreaseFadeRadius 2500ms cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: var(--animation-delay);
}

.navlink-style {
  @apply text-gray-400 hover:text-black dark:text-gray-400 dark:hover:text-white [.header-hero_&]:text-gray-400 [.header-hero_&]:hover:text-white;
}

.navlink-style.active {
  @apply text-black dark:text-white [.header-hero_&]:text-white;
}

[data-theme='light'] {
  .header-hero {
    box-shadow: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@property --fade-radius {
  syntax: '<length>';
  inherits: false;
  initial-value: 100px;
}

@keyframes decreaseFadeRadius {
  100% {
    --fade-radius: 800px;
  }
}

.featured-cards-shadow {
  box-shadow:
    inset 10px 0px 10px 1px rgba(255, 255, 255, 0.05),
    inset -10px 0px 10px 1px rgba(255, 255, 255, 0.05);
}

.custom-scrollbar {
  @apply [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-transparent
  [&::-webkit-scrollbar-thumb]:bg-black/10 hover:[&::-webkit-scrollbar-thumb]:bg-black/20
  dark:[&::-webkit-scrollbar-track]:bg-transparent
  dark:[&::-webkit-scrollbar-thumb]:bg-white/10 hover:dark:[&::-webkit-scrollbar-thumb]:bg-white/20 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full;
}

.hidden-scrollbar {
  @apply [&::-webkit-scrollbar]:h-0 [&::-webkit-scrollbar]:w-0 [&::-webkit-scrollbar-track]:bg-transparent;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@keyframes broom-shake {
  0%,
  100% {
    transform: rotate(0deg) translateZ(0);
  }
  20% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(6deg);
  }
}
.broom-shake {
  animation: broom-shake 0.6s ease-in-out infinite;
  transform-origin: 60% 50%;
}
