@import 'tailwindcss';

body {
  @apply bg-gradient-to-b from-[#1a1a2e] to-[#16213e] text-gray-300 font-sans min-h-screen flex flex-col;
}

.spin-animation {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-hero {
  background-image:
    radial-gradient(ellipse at center, transparent, #07070d 75%),
    url(images/hero.jpeg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
  box-shadow:
    inset 10px 24px 40px 0px #07070d,
    inset -10px -24px 40px 0px #07070d,
    inset 20px -10px 40px 0px #07070d,
    inset -20px 10px 40px 0px #07070d;
}
